html{
    background-image: linear-gradient(white,orange);
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 990px;
    background-color: white;
    margin: 15px auto;
    padding: 15px auto;
    border: 1px solid black;

}
section,aside,h1,h2,h3{
    margin: 0;
    padding: 0;
    }
    section,aside{
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
    a{font-weight: bold;}
    a:link{color:gray;}
    a:visited{color:red;}
    a:hover,a:focus{color:blue;}
    ul{
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    li{
        font-size: 95%;
        padding-bottom: 0.35em;
    }
    p{
        font-size: 95%;
        padding-bottom: 0.5em;
    }
    em{font-weight: bold;}
    /*Styles for the  Header */
    header{
        padding-bottom: 2em;
        border-bottom: 2px solid orange;
    }
    header img{
        float: left;
        margin-left: 20px;
    }
    header h2{
        font-size: 220px;
        color: #f2972e;
        text-shadow: 2px 3px 0px black;
        margin-left: 120px;
        margin-bottom: .25em;
    }
    header h3{
        font-size: 130%;
        font-style: italic;
        margin-left: 120px;
    }
    /*styles for the section*/
    section {
        width: 535px;
        float: right;
        margin-left: 20px;
        padding-right: 25px;
    }
    section h1{
        font-size: 170%;
        margin-bottom: .25em;
    }
    section h2{
        font-size: 130%;
        margin-bottom: .25em;
    }
    #contact_us{
        margin-top: 1em;}
a.date_passed{
    color: gray;
    text-decoration:underline dotted;
}
/*styles for the aside*/
aside{
    width: 350px;
    float: right;
    padding: 20px;
    background-color: #ffebc6;
    margin-right: 20px;
}
    aside h2{
        font-size: 130%;
        padding-bottom: 0.5em;
    }
    aside h3{
        font-size: 100%;
        color: #931420;
        padding-bottom: 0.5em;
    }


